.body{
    font-family: sans-serif;
    padding: 3em;
    background-color: red;
		     
}
.caption {
    font-style: italic;
    padding-top: 0px;
    font-family: "Times New Roman", Times, serif;
}

