<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <title>{{title}}</title>
  </head>

  <body>
    <h1> Welcome to the Weather Team's image-food API! </h1>
    <div class= "image"> <img src="../static/bigmac.jpg"> </div>
    <div class="caption">
      Here is a picture of a gourmet food!
    </div>
    <br>
    <h4> A few requirements: </h4>
    <ul>
      <li> Don't have any faces in the picture! </li>
      <li> Don't have multiple foods in the picture! </li>
    </ul>
  </body>

</html>
