<!DOCTYPE HTML>
<html>
  <head>
    <title>Recipe</title>
    <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="../static/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>
  </head>
  <body>
    <h1>{{query}}</h1> 
    <table border="1">
      <tr>
	<th>Recipe</th>
	<th>Picture</th>
      </tr>
      {% for recipe in data %}
      <tr>
	<td><a href="{{recipe[1]}}">{{recipe[0]}}</a></td>
	<td><img src="{{recipe[2]}}"></td>
      </tr>
    {% endfor %}
  </body>
</html>
