{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/recipe.css">
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">{{query}}</h1>

      <div class="row text-center text-lg-left">
 {% for recipe in data %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="{{recipe[1]}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{recipe[2]}}" alt="">
            <br>
            <div class="caption"> <h4>{{recipe[0]}}</h4> </div>
          </a>
        </div>
        	{% endfor %}
      </div>

    </div>
    <!-- /.container -->
{% endblock %}
